DirectorySlash Off
Options -Indexes

RewriteEngine on

# redirecting to new url
RewriteCond %{HTTP_HOST} aaaliasing\.net
RewriteRule ^(.*)$ http://try.haxe.org/$1 [R=301]

# local userdir :S
RewriteCond %{HTTP_HOST} localhost
RewriteCond %{REQUEST_URI} !index.php
RewriteCond %{REQUEST_URI} ^/~([^/]*)/
RewriteRule ^app/(.*)$ /~%1/try-haxe/app/index.php?_url=$1 [L,QSA]

# try.haxe.org
RewriteCond %{HTTP_HOST} try\.haxe\.org
RewriteCond %{REQUEST_URI} !index.php
RewriteRule ^app/(.*)$ /app/index.php?_url=$1&_root= [L,QSA]

RewriteRule app/(.*)$ app/index.php?_url=$1 [L,QSA]