
html {
	overflow-y:scroll;
	padding-top:18px
}

.CodeMirror-wrap, .hx-options
 {
	margin-bottom:18px;
}

.hx-options {
	height:300px;
}
.js-output .well {
	height:258px;
}

.js-run {
	width:100%;
	height:100%;
}

.CodeMirror .error {
	background-color:#600;
}