
html {
	overflow-y:scroll;
	padding-top:18px
}

.CodeMirror-wrap, .hx-options
 {
	margin-bottom:18px;
}

.hx-options {
	height:300px;
}
.js-output .well {
	height:258px;
}

.js-run {
	width:100%;
	height:100%;
}

.CodeMirror .error {
	background-color:#600;
}

/* from rubyblue */
.CodeMirror-completions {
	background:#112435;
	border:4px solid #112435 ;
}
.CodeMirror-completions select,
.CodeMirror-completions option {
	background:#112435;
	color:#fff;
	font: 13px/1.4em Trebuchet, Verdana, sans-serif;
}