body {
	overflow-y:scroll;
	font-size:14px;
	font-family:"Open Sans", sans-serif;
	color:#1E1E1E;
	min-width:350px;
}
.navbar {
	background:#000; 
	color:#fff; 
	padding:15px 0;
}

@media (max-width: 767px) {
	.navbar {
		margin-left:-20px;
		margin-right:-20px;
	}
	
	.navbar .container-fluid {
		text-align:center;
	}
	
	.navbar .pull-right {
		display:block;
		float:none;
		margin-bottom:1em;
	}
}

.navbar a {
    color: #F48821;
}

.navbar a.logo-link, .logo-link:hover, .logo-link:active, .logo-link:link {
    text-decoration: none;
    color: #FFF;
}

a.logo-link strong {
    font-size: 18px;
    vertical-align: middle;
    padding-right: 3px;
}

.logo {
    margin-right: 25px;
}

.logo-github {
    margin-right: 15px;
}

.haxe-code-template {
    display: none;
}

a.btn i {
    margin-top: 3px;
}

.CodeMirror-wrap, .hx-options, .js-canvas
 {
	margin-bottom:18px;
}

.hx-options {
	height:473px;
}
.js-output .js-run {
	height:461px;
}

.js-run {
	width:100%;
	height:100%;
}

.CodeMirror .error {
	background-color:#F2DEDE;
}
.CodeMirror {
	font-size:13px;
	line-height:1.2em;
	
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	height:425px;
}
.js-source .CodeMirror {	
	height:471px;
}
.embed-source .CodeMirror {
	height:auto;
	min-height:68px;
}

.embed-source .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.embed-preview {
	margin-bottom:18px;
}

.compiler-out .tab-content {
	height:491px;
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #D76900;
	text-shadow: 0 0 5px #D76900;
}
/* from rubyblue */
.CodeMirror-completions {
	/* rubyblue
	background:#112435;
	border:4px solid #112435 ;
	*/

	/* cobalt */
	/*background:#002240;
	border:4px solid #002240;*/
	background:#fff;
	border:4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	z-index:1501;

}
.CodeMirror-completions select,
.CodeMirror-completions option {
	/* rubyblue
	background:#112435;
	color:#fff;
	font: 13px/1.4em Trebuchet, Verdana, sans-serif;
	*/
	
	/* cobalt */
	/*background:#002240;
	color:#fff;
	font-family:monospace;*/

	background:#fff;
	color:#333;
	font-family:monospace;
	
}

.span-fb, .span-plusone, .span-twitter {
	padding:8px;
}
.fullscreen-source .hx-source,
.fullscreen-runner .js-run {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:1500;
	margin:0;
	padding:0;
	border:0;
}
body.fullscreen-source,
body.fullscreen-runner {
	overflow:hidden;
}

.fullscreen-source .CodeMirror,
.fullscreen-source .CodeMirror-scroll {
	height:100%;
	border:0;
}

.colorPreview
{
	border:1px solid;
	border-radius:5px;
	width: 25px;
	height: 25px;
	position: fixed;
	z-index: 10;
}
