body {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #1e1e1e;
  margin-top:75px;
  overflow-y:scroll;
}

body, body p, body td, body li {
  line-height: 1.5;
}

textarea { 
  width: 95%;
  height:466px;
}

textarea.code {
	visibility:hidden;
}

h2 {
  margin-bottom:1em;
}
h2 small {font-weight:normal; }

@media (max-width: 979px) {
	body {
		margin-top:0px;
	}
	.nav.dark {
		margin-bottom:15px;
	}
}

@media (min-width: 980px) {
	.main {
		position:absolute;
		top:60px;
		left:0;
		right:0;
		bottom:0;
	}
}

.nav.nav-tabs { margin-bottom: 13px}

.logo {
  float:left;
  margin-right:20px;
}

.logo-github {
  margin-right: 15px;
}

.haxe-code-template {
  display: none;
}

a.btn i {
  margin-top: 3px;
}

.CodeMirror-wrap, .hx-options, .js-canvas
 {
	margin-bottom:18px;
}

.hx-options {
	height:476px;
}
.js-output .js-run {
	height:461px;
}

.js-run {
	width:100%;
	height:100%;
}

.CodeMirror .error {
	background-color:#F2DEDE;
}
.CodeMirror {
	font-size:13px;
	line-height:1.2em;
	
	border: 1px solid #DDD;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	height:473px;
}
.js-source .CodeMirror {	
	height:473px;
}
.embed-source .CodeMirror {
	height:auto;
	min-height:68px;
}

.embed-source .CodeMirror-scroll {
  height: auto;
  overflow-y: hidden;
  overflow-x: auto;
}

.embed-preview {
	margin-bottom:18px;
}

.compiler-out .tab-content {
	overflow:hidden;
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #D76900;
	text-shadow: 0 0 5px #D76900;
}
/* from rubyblue */
.CodeMirror-completions {
	/* rubyblue
	background:#112435;
	border:4px solid #112435 ;
	*/

	/* cobalt */
	/*background:#002240;
	border:4px solid #002240;*/
	background:#fff;
	border:4px solid #fff;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
	z-index:1501;

}
.CodeMirror-completions select,
.CodeMirror-completions option {
	/* rubyblue
	background:#112435;
	color:#fff;
	font: 13px/1.4em Trebuchet, Verdana, sans-serif;
	*/
	
	/* cobalt */
	/*background:#002240;
	color:#fff;
	font-family:monospace;*/

	background:#fff;
	color:#333;
	font-family:monospace;
	
}

.span-fb, .span-plusone, .span-twitter {
	padding:0 8px 0 0;
}
.fullscreen-source .hx-source,
.fullscreen-runner .js-run {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#fff;
	z-index:1500;
	margin:0;
	padding:0;
	border:0;
}
body.fullscreen-source,
body.fullscreen-runner {
	overflow:hidden;
}

.fullscreen-source .CodeMirror,
.fullscreen-source .CodeMirror-scroll {
	height:100%;
	border:0;
}

.colorPreview
{
	border:1px solid;
	border-radius:5px;
	width: 25px;
	height: 25px;
	position: fixed;
	z-index: 10;
}

.text-muted {
	color:#666;
}

.input-main {
	width:160px;
}

.side-btn {
	float:right;
}

@media( max-width:767px ) {
	.side-btn {
		float:none;
		display:block;
		margin:8px 0;
	}
}

.CodeMirror-hint 
{
  max-width: 100em;
}

.completionDescription
{
	
}

.CodeMirror-Tern-completion {
  padding-left: 22px;
  position: relative;
}
.CodeMirror-Tern-completion:before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  width: 15px;
  line-height: 16px;
  text-align: center;
  color: white;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.CodeMirror-Tern-completion-unknown:before {
  content: "?";
  background: #4bb;
}

.CodeMirror-Tern-completion-object:before {
  content: "O";
  background: #77c;
}
.CodeMirror-Tern-completion-fn:before {
  content: "F";
  background: #7c7;
}
.CodeMirror-Tern-completion-array:before {
  content: "A";
  background: #c55;
}
.CodeMirror-Tern-completion-map:before {
  content: "M";
  background: #118A4E;
}
.CodeMirror-Tern-completion-number:before {
  content: "1";
  background: #555;
}
.CodeMirror-Tern-completion-string:before {
  content: "S";
  background: #555;
}
.CodeMirror-Tern-completion-bool:before {
  content: "B";
  background: #555;
}

.CodeMirror-Tern-completion-template:before {
  content: "T";
  background: #77c;
}

.CodeMirror-Tern-completion-define:before {
  content: "D";
  background: #536F79;
}

.CodeMirror-Tern-completion-lib:before {
  content: "L";
  background: #536F79;
}

.CodeMirror-Tern-completion-import:before {
  content: "I";
  background: #536F79;
}

.CodeMirror-Tern-completion-class:before {
  content: "C";
  background: #536F79;
}

.CodeMirror-Tern-completion-package:before {
  content: "P";
  background: #536F79;
}

.CodeMirror-Tern-completion-type:before {
  content: "T";
  background: #B0B355;
}

.CodeMirror-hints {
  width: 200px;
}

.CodeMirror-hints-contextInfo {
  position: absolute;
  z-index: 10;
  max-height: 200px;
  max-width: 400px;
  overflow: auto;
  background: #FFFFFF;
  font-family: Tahoma;
  font-size: 12px;
  padding: 5px;
  border: solid silver 1px;
  box-shadow: 2px 3px 5px rgba(0,0,0,.2);
}

.lint-error {background: #F8F8BE;
color: #000;
padding: 2px 5px 2px;
font-weight: bold;
font-size: small;
opacity: 0.7; }

.selectedParameter
{
	background-color: #F7EA5F;
}